<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<p>
  This was added and should be deployed if tests are OK.
</p>
<p>
  This was added and should not be deployed if tests are NOK.
</p>
